<form method="post" action="/tracks">
  <div>
    <label>Song Title:</label>
    <input type="text" name="song">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="artist">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" name="Submit">
  </div>
</form>